@use "../abstract" as *;
@use "../base/" as *;

.banner {
  position: relative;

  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__slider {
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
  }

  &__cars {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
  }

  &__image {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }

  &__caption {
    width: 90%;
    color: $clr--light;
    padding: 1rem 0.5rem;
    position: absolute;
    top: 10rem;
    right: -20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    text-align: center;

    h2 {
      font-family: $font--secondary;
      font-weight: 700;
      font-size: 3.5rem;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: left;
    }
  }

  &__nav {
    position: absolute;
    bottom: 10px;
    right: 10px;

    .tns-nav {
      display: inline-block;
      button {
        width: 8px;
        height: 8px;
        margin: 0 0.2rem;
      }
    }
  }

  @media (max-width: 520px) {
    .container {
      padding: 0rem 1rem;
    }
    &__wrapper {
      overflow: visible;
      height: 200px;
      padding: 0rem 1rem;
    }

    &__caption {
      position: absolute;
      width: 90%;
      font-size: 1.8rem;
      right: -90px;
      top: 40%;
      transform: translateY(-50%);
      padding: 1rem;
      text-align: center;
    }
    h2 {
      font-size: 15px;
      font-weight: 500;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__nav {
      bottom: 20px;
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.homeServices {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  .homeServices__wrapper {
    @include evenGrid(4, 3rem);
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      padding: 2rem 1rem;
    }
  }
  .cards {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-bottom: 84px;
    z-index: 10;
    padding: 2rem;
    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      padding: 1rem;
      border-bottom: 2px solid rgba(80, 80, 80, 0.575);
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 2rem;
    }
    i {
      font-display: none;
      font-size: 60px;
      padding: 2.5rem;
      display: block;
    }

    .hover__plane {
      position: absolute;
      width: auto;
      height: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #343438;
      opacity: 0;
      z-index: -1;
      margin: 20px;
      transition: 0.5s all ease;
    }

    &:hover {
      color: #fff;
    }
  }
  .cards:hover .btn.bg--secondary {
    color: $clr--secondary;
    background-color: #fff;
  }
  .cards:hover .hover__plane {
    background-color: #303033;
    margin: -22px -10px;
    opacity: 1;
  }
  .cards:hover i {
    color: $clr--secondary;
  }
}

// HOME SERVICES WITH WORKERS

.homeServ {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;
  padding: 5rem 0;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    position: relative;

    h2 {
      font-size: 2.4rem;
      font-weight: bold;
      color: $clr--light;
      padding: 0.8rem 0rem;
      border-bottom: 1px solid #fff;
      width: 100rem;
      text-transform: uppercase;
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include mediaQuery(520px) {
      grid-template-rows: 1fr;
    }
  }

  .services__slider {
    display: flex;
    gap: 2rem;
    transition: transform 0.3s ease-in-out;

    .homeServ__card {
      width: 33%;
      text-align: center;
      position: relative;

      img {
        width: 100%;
        height: 10rem;
        object-fit: contain;
        margin-bottom: 2rem;
      }

      p {
        font-size: 1rem;
        color: $clr--light;
      }
      @include mediaQuery(520px) {
        width: 10rem;
        img {
          width: 10rem;
          height: 5rem;
        }
        p {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }

  .homeServ__controls {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 5rem;
    pointer-events: none; /* To allow easy clicking on slider */
    transform: translateY(-50%);

    a {
      pointer-events: all; /* Enable clicks on arrows */
      color: $clr--light;
      font-size: 1.5rem;
      transition: color 0.3s;
      border: 1px solid #fff;
      text-align: center;
      border-radius: 300px;

      i {
        padding: 1rem;
        font-size: 0.8rem;
      }

      &:hover {
        color: $clr--secondary;
        background-color: $clr--dark;
      }

      &.prev {
        position: relative;
        left: 0rem;
      }

      &.next {
        position: relative;
        right: 0rem;
      }
    }
  }
}

// HOME ABOUT US

.homeAbout {
  .container {
    @include mediaQuery(520px) {
      padding: 2rem 2rem;
    }
  }

  background-color: $clr--light;
  margin: 0 auto;
  max-width: 90rem;
  &__wrapper {
    padding: 2rem 1rem;
    @include evenGrid(2, 2rem);
    gap: 3rem;
    @include mediaQuery(520px) {
      grid-template-columns: 1fr;
      padding: 0rem 1rem;
    }
  }
  .leftAbout {
    display: flex;
    flex-direction: column;

    .title {
      justify-content: start;
      width: 90%;
      h2 {
        font-family: $font--secondary;
        color: $clr--dark;
        font-weight: 700;
        font-size: 3.2rem;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2;
        opacity: 0.8;
      }
    }
    &--details {
      p {
        color: $clr--dark;
        margin-bottom: 2rem;
        padding: 2.1rem 0rem;
        border-bottom: 1px solid rgba(88, 88, 88, 0.568);
      }
    }
  }
  .rightAbout {
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      justify-content: start;
      width: 90%;
      h2 {
        display: flex;
        font-family: $font--secondary;
        color: $clr--dark;
        font-weight: 700;
        font-size: 3.2rem;
        text-transform: uppercase;
        line-height: 1.2;
        opacity: 0.8;
      }
    }
    &--details {
      p {
        color: $clr--dark;
        margin-bottom: 2rem;
        padding: 0.8rem 0rem;
        border-bottom: 1px solid rgba(88, 88, 88, 0.568);
      }
      p:nth-child(2) {
        color: $clr--secondary;
      }
    }
  }
}

// HOME TITLE LAST

.homeTitle {
  margin: 0 auto;
  max-width: 90rem;
  &__wrapper {
    padding: 2rem 1rem;
    display: grid;
    height: 40rem;
  }
  .title {
    h1 {
      font-size: 6rem;
      text-transform: uppercase;
      font-weight: 600;
    }
    @include mediaQuery(520px) {
      h1 {
        display: block;
        letter-spacing: 0rem;
        font-size: 60px;
      }
    }
  }
  .btnTitle {
    display: flex;
    .btn.bg--secondary {
      border-radius: 0rem;
      width: 50rem;
      height: 10rem;
      padding: 1rem 1rem;
      transition: 500ms ease;
    }
    a {
      margin-right: 1rem;
      color: $clr--light;
      i {
        font-size: 1.5rem;
      }
    }
  }
}
